.maze {
    margin: auto;
    margin-top: 50px;
    /*position: relative;
    top: 50px;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;*/

    /*border-spacing : 2px;*/
    border-collapse : collapse;
}

form{display:inline;}
.row{display:block;}
.cell {
    display:inline-block;
    text-align: center;
    vertical-align: center;
    font-size:0.8em;

    /*
    border-width: 0.05px;
    border-size: 1px;
    margin: 25px;*/
    padding: 1px;
    border: 1px dotted #eee;

    width:  50px;
    height: 50px;
}

.N { border-top: 1px solid; }
.E { border-right: 1px solid; }
.S { border-bottom: 1px solid; }
.W { border-left: 1px solid; }

/*.small {
    width:  30px;
    height: 30px;
}
.medium {
    width:  40px;
    height: 40px;
}
.large {
    width:  50px;
    height: 50px;
}*/
/*#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}*/