<html>
<head>
    <title>Labyrinthe</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <h4>Hello <%= user.username%></h4>
    <%- include nav %>
</header>
<div class="content">
    <h1>Bienvenue dans le Labyrinthe !</h1>
    <h2>Saurez-vous relever le défi?</h2>
    <hr/>
    <h2>Règles du jeu</h2>
    <h3>Règle n°1</h3>
    <p>Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et venustatis, urbibus decorata magnis et pulchris; in quibus amoenitate celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares Emissa et Damascus saeculis condita priscis.</p>
    <h3>Règle n°2</h3>
    <p>Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et venustatis, urbibus decorata magnis et pulchris; in quibus amoenitate celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares Emissa et Damascus saeculis condita priscis.</p>
    <h3>Règle n°3</h3>
    <p>Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et venustatis, urbibus decorata magnis et pulchris; in quibus amoenitate celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares Emissa et Damascus saeculis condita priscis.</p>
    <h3>Règle n°4</h3>
    <p>Post hanc adclinis Libano monti Phoenice, regio plena gratiarum et venustatis, urbibus decorata magnis et pulchris; in quibus amoenitate celebritateque nominum Tyros excellit, Sidon et Berytus isdemque pares Emissa et Damascus saeculis condita priscis.</p>
</div>
<footer class="content">
    <hr/>
    Créé avec passion pour ESILV 2A ACS
</footer>
</body>
</html>